<div class="container-pre-footer">

  <div class="logo-text">
    <div class="container-hijo flex-row">
      <img id="logo-footer" [src]="inmobiliaria[0].logo[1]" alt="logo" class="d-inline-block align-text-top footer-logo m-4"/>
      <br>
      <p id="text-footer" class="info-sub">Aqui iría un binding con una breve descripción de la empresa en cuestión, bla bla bla bla bla bla bla bla bla bla  bla bla bla bla bla bla bla bl...</p>
    </div>
  </div>

  <div class="ofi-virtual">
    <div class="container-hijo info-title accent-color">
       <i class="fas fa-globe"></i>
       <p class="info-title">OFICINA VIRTUAL</p>
        <p class="info-sub accent-color">FRANCO LUJAN</p>
        <p class="info-sub accent-color">Servicios Inmobiliarios</p>
    </div>
  </div>

  <div class="email-section">
    <div class=" container-hijo info-title accent-color">
        <i class="far fa-envelope"></i>
        <p class="info-title">Email</p>
      <p class="info-sub">{{inmobiliaria[0].email}}</p>  
    </div>
  </div>

  <div class="contacto-directo">
    <div class="container-hijo info-title accent-color">
        <i class="fas fa-phone-alt"></i>
        <p class="info-title">CONTACTO DIRECTO</p>
        <p class="info-sub">{{inmobiliaria[0].phone}}</p>  
  </div>
</div>

<div class="horario-telef">
    <div class="container-hijo info-title accent-color">
        <i class="far fa-clock"></i>
        <p class="info-title">Horarios de atención telefónica</p>
        <p class="info-sub">{{inmobiliaria[0].contactTime}}</p>  
    </div>
</div>

</div>
<app-footer2 [urlLogo]="inmobiliaria[0].logo[2]"></app-footer2>