<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/img/MEDIOS DE COMUNICACIONES AZUL.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Experiencia</h1>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolorum atque omnis molestias commodi, deleniti, veritatis inventore optio nisi voluptatum alias dignissimos nostrum quae unde accusamus recusandae in tempore aperiam enim neque explicabo officia sit? Enim beatae commodi amet magnam quo minus laborum nisi autem!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/img/certificado-AZUL.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Trayectoria</h1>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus possimus numquam labore, cumque id dolore officia quasi beatae quos dolorem molestias iusto atque! Velit reiciendis eius voluptates unde possimus inventore.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/img/PICTOGRAMA DE MANOS AZULES.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Respaldo</h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem at voluptas optio molestiae repudiandae natus laboriosam, distinctio sint quia ad commodi quibusdam sit perspiciatis ipsum est modi ut voluptates! Obcaecati ex soluta deleniti eos perspiciatis, delectus quibusdam sequi eveniet ad sit id eligendi ducimus dolorem explicabo, quaerat iste cupiditate inventore..</p>
        </div>
      </div>
    </div>
  </div>