.navigation{
    font-size: 2rem;
}

.nav-item{
    margin-right: 0.5rem;
}

.num{ 
  font-size: 1.3rem;
  margin: 0;
  margin-left: 1rem;
  color: var(--color-light-background);
}

.navbar{
  margin-top: 3rem;
  box-shadow: 0rem 0rem 1rem 0rem var(--color-shade);
}

button {
    font-size: 1.7rem;
    color: var(--color-dark-background);
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: var(--color-negative);
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -.2rem;
    left: 50%;
    position: absolute;
    width: 0%;
    height: .2rem;
    background-color: var(--color-negative);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }