<h4>PROBANDO SISTEMA DE RUTAS</h4>
<app-header></app-header>

<ul>
    <li><a routerLink="/template/home">Inicio</a></li>
    <li><a routerLink="/template/sales">Ventas</a></li>
    <li><a routerLink="/template/shopping">Compras</a></li>
    <li><a routerLink="/template/appraisals">Tasaciones</a></li>
    <li><a routerLink="/template/auctions">Subastas</a></li>
    <li><a routerLink="/template/rent-owner">Dueño Alquila</a></li>
    <li><a routerLink="/template/rent-tenant">Inquilino Alquila</a></li>
</ul>

<router-outlet></router-outlet>
<app-icono-wsp></app-icono-wsp>
<app-footer></app-footer>