
<div>
    <div class="homeImgConteiner">
        <!-- con el ngStyle voy cambiando la imagen de fondo del div -->
        <h1>Tenemos lo que buscas</h1>
        <div class="home-img" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
        
    </div>
    <div class="overlay">
        <button name="btn1" class="btn-home">COMPRAR</button>
        <button name="btn1" class="btn-home">VENDER</button>
        <button name="btn1" class="btn-home">BUSCAR ALQUILER</button>
        <button name="btn1" class="btn-home">PUBLICAR ALQUILER</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="../../../../../assets/img/MEDIOS DE COMUNICACIONES AZUL.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">Experiencia</h1>
              <p class="card-text">Aca va el texto desde le json para la experiencia.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../../assets/img/certificado-AZUL.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">Trayectoria</h1>
              <p class="card-text">Aca va el texto desde le json para la trayectoria.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../../assets/img/PICTOGRAMA DE MANOS AZULES.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title">Respaldo</h1>
              <p class="card-text">TAca va el texto desde le json para el Respaldo.</p>
            </div>
          </div>
        </div>
      </div>
</div>
