<div>
    <div class="homeImgConteiner">
        <!-- con el ngStyle voy cambiando la imagen de fondo del div -->
        <div class="home-img" [ngStyle]="{'background-image': 'url(' + image + ')'}">


        </div>
    </div>
    <div class="overlay">
        <button name="btn1" class="btn-home">Bontón -></button>
        <button name="btn1" class="btn-home">Bontón -></button>
        <button name="btn1" class="btn-home">Bontón -></button>
        <button name="btn1" class="btn-home">Bontón -></button>
    </div>
    <div class="container">
        <div class="section">
            <div class=" d-flex row row-content align-items-center justify-content-center">
                <div class="col-sm-3">
                    <img src="../../../../../assets/img/medios-de-comunicacion-social-150x150.png">
                    <h1 class="text-header">Experiencia</h1>
                    <p class="home-text">Aca va el texto desde le json para la experiencia</p>
                </div>
                <div class="col-sm-3">
                    <img src="../../../../../assets/img/certificado-150x150.png">
                    <h1 class="text-header">Trayectoria</h1>
                    <p class="home-text">Aca va el texto desde le json para la trayectoria</p>
                </div>
                <div class="col-sm-3 align-items-center">
                    <img src="../../../../../assets/img/objetivo-150x150.png">
                    <h1 class="text-header">Respaldo</h1>
                    <p class="home-text">Aca va el texto desde le json para el Respaldo</p>
                </div>
            </div>
        </div>  
    </div>
</div>
