<!-- se arma cada página con componentes fijos y variables según path -->


<app-header [inmobiliaria]=inmobiliaria></app-header>   
<!-- componente fijo -->

<ul>    <!-- atributos para usar en botones y en navbar -->
   <!-- <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/ventas">Ventas</a></li>
    <li><a routerLink="/compras">Compras</a></li>
    <li><a routerLink="/tasaciones">Tasaciones</a></li>
    <li><a routerLink="/subastas">Subastas</a></li>
    <li><a routerLink="/propietario-alquila">Dueño Alquila</a></li>
    <li><a routerLink="/inquilino-alquila">Inquilino Alquila</a></li>
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/ventas">Ventas</a></li>
    <li><a routerLink="/compras">Compras</a></li>
    <li><a routerLink="/tasaciones">Tasaciones</a></li>
    <li><a routerLink="/subastas">Subastas</a></li>
    <li><a routerLink="/propietario-alquila">Dueño Alquila</a></li>
    <li><a routerLink="/inquilino-alquila">Inquilino Alquila</a></li>
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/ventas">Ventas</a></li>
    <li><a routerLink="/compras">Compras</a></li>
    <li><a routerLink="/tasaciones">Tasaciones</a></li>
    <li><a routerLink="/subastas">Subastas</a></li>
    <li><a routerLink="/propietario-alquila">Dueño Alquila</a></li>
    <li><a routerLink="/inquilino-alquila">Inquilino Alquila</a></li> -->
</ul>

<!-- componentes variables: el contenido específico de cada página ruteado en template module -->
<router-outlet></router-outlet> 

<app-icono-wsp [inmobiliaria]=inmobiliaria></app-icono-wsp> <!-- componente fijo -->
<app-footer [inmobiliaria]=inmobiliaria></app-footer>   <!-- componente fijo -->