<h4>PROBANDO SISTEMA DE RUTAS</h4>

<app-header></app-header>
<ul>
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/ventas">Ventas</a></li>
    <li><a routerLink="/compras">Compras</a></li>
    <li><a routerLink="/tasaciones">Tasaciones</a></li>
    <li><a routerLink="/subastas">Subastas</a></li>
    <li><a routerLink="/propietario-alquila">Dueño Alquila</a></li>
    <li><a routerLink="/inquilino-alquila">Inquilino Alquila</a></li>
</ul>
<router-outlet></router-outlet>
<app-icono-wsp></app-icono-wsp>
<app-footer></app-footer>